$fonts-path: '../fonts/';

@font-face {
	// PTSans Regular
	font-family: 'PTSans';
	src:
	url($fonts-path + 'PTSans-Regular.ttf') format('truetype'),
	url($fonts-path + 'PTSans-Regular.eot'),
    url($fonts-path + 'PTSans-Regular.svg'),
	url($fonts-path + 'PTSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	// PTSans Italic
	font-family: 'PTSans';
	src:
	url($fonts-path + 'PTSans-Italic.ttf') format('truetype'),
	url($fonts-path + 'PTSans-Italic.eot'),
    url($fonts-path + 'PTSans-Italic.svg'),
	url($fonts-path + 'PTSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	// PTSans Bold 700
	font-family: 'PTSans';
	src:
	url($fonts-path + 'PTSans-Bold.ttf') format('truetype'),
	url($fonts-path + 'PTSans-Bold.eot'),
    url($fonts-path + 'PTSans-Bold.svg'),
	url($fonts-path + 'PTSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}